/*Main Styles*/

header {
  position: fixed;
  top: 0;
  background: #98989870;
  width: 100%;
  border: 0px;
  padding: 5px;
  margin: 0px; 
  left: 0;
}

body {
  background-color: #333;
  color: #f4f4f4;
}

footer {
  background-color: #d0d0d0;
}

/*Menu Styles*/

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.menu li:hover {
  background-color: #ddd;
}

.menu li:hover .preview {
  display: block;
}

/*Project Styles*/

.project-item {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}
  
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done {
  color: #04ff00
}

.working {
  color: #ff8000
}

.notstarted {
  color: #ff0000
}

/*About Styles*/

.about-div-red {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #650000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Rounded corners */
  align-items: center;
}

.about-div-wite {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Rounded corners */
  align-items: center;
}

/*Misc Styles*/

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mal11-background {
  background-image: url('default.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  background: #b6b9bb3c;
  color: #fff;
  opacity: .9;
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.h2balck {
  color: #000000;
}

.textblack {
  color: #000000;
}
