/* Main Styles */

html {
	font-family: "Ubuntu Sans", sans-serif;
	background-color: black;
	color: white;
	scroll-behavior: smooth;
}

main {
	margin-inline: 10px;
	border: 1px solid #ffffff1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
	margin: 0;
}

p {
	font-family: "Ubuntu Sans", sans-serif;
	margin: 0;
	font-size: large;
}

.floatingNoticeBox {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	background-color: black;
	color: white;
	padding: 50px;
	border-radius: 10px;
	backdrop-filter: blur(40px) brightness(1.5) saturate(1.5);
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #ffffff1a;
	max-width: 500px;
}

.floatingNoticeBox svg {
	position: absolute;
	top: 10px;
	right: 10px;
}

.callToActionButton {
	padding: 10px;
	padding-inline: 30px;
	border-radius: 15px;
	color: #000000;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	background-color: #ffffff;
	box-shadow: 0 0 20px #ffffff1a;
	margin: 10px;
	font-weight: 500;
	font-size: large;
}

.callToActionButton:hover {
	transform: scale(1.1);
}

.actionButton {
	padding: 10px;
	padding-inline: 30px;
	border-radius: 15px;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	background-color: #000000;
	box-shadow: 0 0 20px #ffffff1a;
	margin: 10px;
	font-weight: 500;
	font-size: large;
}

.actionButton:hover {
	transform: scale(1.1);
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}

/* Nav Bar Styles */

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	backdrop-filter: blur(40px) brightness(1.5) saturate(1.5);
	background-color: rgba(0, 0, 0, 0.5);
}

nav h2 {
	margin-left: 10px;
}

.navLogo {
	display: flex;
	margin-left: 10px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 50px;
	height: 50px;
	margin: 10px;
	margin-right: 0px;
}

/* Hero */

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: calc(100vw - 59px);
	padding: 10px;
	border-bottom: 1px solid #ffffff1a;
}

.hero p {
	color: #a7a7a7;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: calc(100vw - 59px);
	padding: 10px;
	border-bottom: 1px solid #ffffff1a;
}

.displayItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: calc(100vw - 59px);
	padding: 10px;
	border-bottom: 1px solid #ffffff1a;
}

.displayItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: calc(100vw - 59px);
	padding: 10px;
}

.displayItemText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: calc(100vw - 59px);
	padding: 10px;
	text-align: left;
}

.displayItemInfoText {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 680px) {
	.displayItem {
		display: flex;
		flex-direction: column;
	}
	.displayItemText {
		align-items: center;
		text-align: center;
		max-width: 500px;
	}
}

.displayItemInfoText p {
	margin-left: 10px;
}

.displayItem img {
	border-radius: 10px;
	max-width: 300px;
}
